html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

 
body {
    background-image: url('pngtree-g20-summit-simple-business-background-image_232743.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container .logo {
    width: 100px;  
    height: auto;  
    margin-bottom: 20px;  
}

.login-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.login-container h2 {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    margin-top: 10px;
    text-align: left;
    color: #333;
}

input {
    margin-top: 5px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
    margin-top: 10px;
}

#toaster {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

#toaster p {
    margin: 0;
}
